{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

	<div class="container">
	    <div class="row">
	        <div class="col-md-8 col-lg-5 mx-auto pt-5">
	            <div class="card mt-5 p-4">
				    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
				    {% if targetUrl %}
				    	<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
				    {% endif %}
	            </div>
	        </div>
	    </div>
	</div>
{% endblock fos_user_content %}
